*.yaml linguist-language=YAML linguist-detectable=true
*.yml linguist-language=YAML linguist-detectable=true
Taskfile.yaml linguist-language=YAML linguist-detectable=true
*.py linguist-detectable=false
*.json linguist-detectable=false
